streamlit
transformers
torch
PyMuPDF
pandas
numpy
pdfplumber
Pillow
requests
sentencepiece
pypdf
faiss-cpu
langchain_community
beautifulsoup4
langchain-groq
huggingface_hub
python-dotenv
sentence-transformers
